.analyses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgb(175, 199, 218);
}

.analysis {
    flex-basis: auto;
    width: 85%;
    margin: 2.5em;
    padding: 2.5em;
    border: 1px solid rgb(218, 217, 216);
}