.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__item {
    list-style-type: none;
    padding: 0.5rem 1rem;
    margin:0.5rem 0.5rem
}

/* .nav img {
    float: left;
    width: 100px;
    height: 100px;
  } */

.nav {
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}